/* Standard tags, alphabetical order */
a:link{
    text-decoration: unset;
}

body{
    height: 100%;
    margin: 0%;
    max-width: initial;
    padding: 0%;
    width: 100%; 
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    z-index: 1;
}

img{
    width:128px;
    height:128px;
    border:3px solid gray;
    border-radius: 10%;
}

table{
    width:100%;
    height: 100%;
}

td{
    width: 80%;
    height: 80%;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:black;
    pointer-events: none;
}

/* Classes, alphabetical order */
.blank-image{
    width:128px;
    height:128px;
    background-color: #ffffffb0;
    border:3px solid gray;
    border-radius: 10%;
    box-shadow: -5px 0px 10px rgba(124, 124, 124, 0.863) inset, 10px 0px 15px whitesmoke inset, 128px 0px 0px #ffffffaa inset;
    margin:0;
    padding:0;
    -webkit-appearance: none;
}

.card{
    display:inline-block;
    pointer-events: all;
}

.card-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.popup{
    width: 256px;
    height: auto;
    background-color: white;
    box-shadow: -5px 0px 5px rgba(124,124,124,0.5) inset, 10px 0px 15px whitesmoke inset;
    border:3px solid gray;
    border-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    padding: 12px;
    display: none;
    pointer-events: visible;
    -webkit-appearance: none;
}

.subtopic-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:black;
    margin: 3%;
}

.topic{
    display:inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border:2px solid white;
    border-radius: 20px;
    background-image: linear-gradient(210deg, darkblue, lightblue);
}

.topic-title{
    display: unset;
    background-image: unset;
    display: block;
    background-color: gray;
}

/* ID's, alphabetical order */
#content-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 90%;
    background-attachment: fixed;
    background-color: whitesmoke;
    background-size: cover;
    display: block;    
    border:2px solid white;
    border-radius: 30px;
}

#DisciplinesBySkill{
    display: unset;
    background-image: unset;
    display: block;
    background-color: gray;
}

#id_dynamic_svg{
    height:100%; 
    width:100%;
}

#id_effect{
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.25;
    position: fixed; 
    pointer-events: all;
    right: 0;
    top: 0;
    z-index: -1;
}

#id_effect_div1{
    height:100%; 
    width:100%;
}
    
#id_effect_div2{
pointer-events: none;
}