body{
    margin:0%;
}

#wallpaper {
    position:fixed;
    z-index: -1;
}

.content{
    background-color: aliceblue; 
    height:34vw; 
    width: 79vw;
    margin:auto;
    transform: translateY(-1vw) translateX(-2vw);
    border-radius:2vw;
    box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2);
    text-align: center;
}

.container {
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.topic {
    width:80vw;
    height:35vw;
    margin:auto;
    margin-top:5%;
    border-radius:2vw;
    box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2);
}